<!DOCTYPE html>
<html>
<head>
	<title>News Scraper</title>
	<style type="text/css">
		#Article-dump {
			overflow: auto;
			height: 500px;
		}
		input, textarea{
			width: 50%;

		}
		input{
			height: 50px;
			font-size: 36px;
		}
		textarea{
			height: 200px;
		}
	</style>
</head>
<body>
	<form>
		<input type="text" name="title">
		<br>
		<textarea type="text" name="body"></textarea>
		<br>
		<button type="submit">Add Note</button>
	</form>
	<div id="Article-dump">
		{{#each Articles}}
			{{#if saved}}
				<div class="article">
					<h2>{{title}}</h2>
					<h3>{{link}}</h3>
					<p>{{summary}}</p>
				</div>
			{{/if}}
		{{/each}}
	</div>
</body>
</html>